<h1>Modifica Dato</h1>
<div>
  <form (ngSubmit)="salvaModifiche()">
    <div>
      <label for="nome">Nome:</label>
      <input id="nome" [(ngModel)]="nuovoDato.nome" name="nome" required>
    </div>
    <div>
      <label for="cognome">Cognome:</label>
      <input id="cognome" [(ngModel)]="nuovoDato.cognome" name="cognome" required>
    </div>
    <div>
      <label for="indirizzo">Indirizzo:</label>
      <input id="indirizzo" [(ngModel)]="nuovoDato.indirizzo" name="indirizzo">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="nuovoDato.email" name="email" type="email" required>
    </div>
    <div>
      <label for="comune">Comune:</label>
      <input id="comune" [(ngModel)]="nuovoDato.comune" name="comune">
    </div>
    <div>
      <label for="provincia">Provincia:</label>
      <input id="provincia" [(ngModel)]="nuovoDato.provincia" name="provincia">
    </div>
    <div>
      <label for="localita">Localita:</label>
      <input id="localita" [(ngModel)]="nuovoDato.localita" name="localita">
    </div>
    <div>
      <label for="note">Note:</label>
      <textarea id="note" [(ngModel)]="nuovoDato.note" name="note"></textarea>
    </div>
    <div>
      <a [routerLink]="['/table']"> <button type="submit">Salva Modifiche</button></a>
    </div>
  </form>
</div>
<ul>

